@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.form-login{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: gray;
}

.tag-email,
.tag-senha{
    color: white;
    margin: 5px;
}

.login{
    margin-bottom: 20px;
}

.campo-email,
.campo-senha{
    padding: 5px;
}

.botao-cadastrar{
    text-decoration: none;
    color: white;
}

.botao-cadastrar:hover{
    text-decoration: none;
    color: red;
}

.botao-entrar-login:hover{
    font-weight: bold;
    border-color: red;
}